<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Border">
</f:section>
<f:section name="Main">
    <div class="section section-default">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="row">
                        <div class="col-md-4">
                            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}" />
                        </div>
                        <div class="col-md-8">
                            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '3'}" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}" />
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>
