<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Default">
<section class="section footer-section footer-section-content py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4 text-md-start">
                <f:render partial="Structure/FooterContact" arguments="{_all}" />
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '7', slide: '-1'}"/>
            </div>

            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '8', slide: '-1'}"/>
            </div>

            <div class="col-sm-4 text-md-end">
                <f:render partial="Structure/SocialLinks" arguments="{_all}"/>
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '9', slide: '-1'}"/>
            </div>

        </div>
    </div>
</section>
</f:section>
